:root {

    --background-color: #28363D;
    --header-color: #658B6f;
    --text-color: #C4CDC1;
    --icon-color: #C4CDC1;
    --selected-color: #e5e5e5;
    --shadow-color: #242424;
    --project-color: #3c6045;
}