:root {

    --background-color: #011f04;
    --header-color: #1c3000;
    --text-color: #ffffff;
    --icon-color: #808080;
    --selected-color: #e5e5e5;
    --shadow-color: #000000;
    --project-color: #1c3000;
}