@use 'functions.scss' as *;
@use 'breakpoints.scss' as *;
@use 'colors.scss' as *;

.header {
    display: grid;
    grid-template-areas: "link icons";
    width: 100vw;
    height: 7vh;
    gap: rem(30);
    background-color: $header-color;
    box-shadow: 0 0 8px black;

    @include breakpoint-down(medium) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &__link-container {
        grid: link;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        @include breakpoint-down(medium) {
            opacity: 0;
            width: 0;
            height: 0;
        }
    }

    &__icon-container {
        grid: icons;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        gap: rem(30);

        @include breakpoint-down(medium) {
            padding-right: rem(40);
        }
    }

    &__icon-link {
        grid: icons;
        margin: 0;
        padding: 0;
        font-size: rem(40); 
        cursor: pointer;  
        transition: all 150ms ease-in-out; 
        color: $icon-color;

        @include breakpoint(xxlarge) {
            font-size: rem(50)
        }
    }

    &__icon-link:hover {
        scale: calc(1.2);
        color: $selected-color;
    }

    &__icon-link:active {
        color:  $icon-color;
    }

    &__icon-link:visited {
        color: $icon-color;
    }
}

.link {
    padding: 0 rem(30);
    text-decoration: none;
    color: $icon-color;
}

.link:visited {
    color: $icon-color;
}

.link:hover {
    scale: calc(1.1);
    color: $selected-color;
}

.link:last-child {
    margin-right: rem(0);
}